*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 80px;
    width: 100%;
    background-color: rgb(6, 6, 48);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 170px;     
}
.fa-solid{
    color: goldenrod;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}
.container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: rgb(6, 6, 48);;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(6, 6, 48);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color:goldenrod;
    color:black;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}


/*reviews css starts here*/
.testimonials{
    padding: 40px 0;
    background-color: rgb(6, 6, 48);
    color:black;
    text-align: center;
    width:100%;
  }
  .inner{
    max-width: 1700px;
    background-color: rgb(6, 6, 48);
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  

  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: white;
    padding: 30px;
    height:300px;
    
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: rgb(21, 139, 21);
    margin-bottom: 20px;
  }





  /*footer css starts here */
  .footer {
    padding: 40px 0;
    background-color: white;
    width:100%;
  }
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
  }

  .social a i{
    font-weight: bold;
    color:black;
    font-size:30px;
  }
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover {
    opacity: 0.9;
  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .footer ul a:hover {
    opacity: 1;
  }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: black;
  }


/*light bulb icon css*/
 .fa-lightbulb{
    color:wheat;
    height:50x;
    width:100px;
    padding:20px;
    font-size: 40px;
 }



/*hero css starts here*/
body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://media.istockphoto.com/id/1372472255/vector/a-blue-vector-image-of-a-computer-processor.jpg?s=612x612&w=0&k=20&c=9xfOJ8E_pEHNBIhowQvKnqGTAoY_VYgpCUBD7YXSJug=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}

.hero {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    color: white;
}

.hero button{
    width: 200px;
    padding: 20px;
    border-radius:10px;
    margin-top:1rem;
}

.hero button:hover{
    color:black;
    font-weight:800;
}





/*features CSS start here*/


.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}
/*features CSS ends here*/



/*sale timer css starts here*/

.timer-section{
  height: auto;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: rgb(190, 7, 7);
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.timer-section p{
  text-align: center;
  font-size: 1.3rem;
  padding: 5px;
  color: white;
}

#bold{
  font-size: 2.7rem;
  padding: 5px;
}

/*sale timer css ends here*/







/*

@media screen and ((min-width:100px) and (max-width:400px)){
  .header{
    display: none;
  }
}

*/


